<!DOCTYPE html>
<html>
<head>
  <title>Transaction Web</title>
</head>
<body>
  <div class="container">
    <%= render 'shared/flash' %>
    <h1>Wallet Solution App</h1>
    <% if @current_user %>
      <p>You are logged in as <%= @current_user.username %>.</p>
    <% else %>
      <p>You are not logged in.</p>
    <% end %>
    <p>Here are some of the features of this web:</p>
    <ul>
      <li>You can create transactions.</li>
      <li>You can view your transaction history.</li>
      <li>You can collaborate with others on transactions.</li>
      <li>You can buy and sell stocks.</li>
    </ul>
  </div>
</body>
</html>

